* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}
.button{
    text-transform:uppercase;
    text-decoration: none;
    color:white;
    background-color:#B28756;
    padding:15px;
    margin-top:20px;
    font-size: 11px;
    border-radius:20px;
}
.button:hover{
    background-color: #d7a56d;
}
header {
    height: 100px;
    background-color: black;
    color: white;
}
.header {
    height: 100px;
    max-width: 1000px;
    margin: auto;

    display: flex;
    align-items: center;
}
.logo {
    width: 100px;

}
.logoimg img {
    width: 80px;
    height: 100px;
    background-color: #B28756;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu li,
.menu ul {
    list-style: none;
}

.menu ul {
    display: flex;

}
.menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;

}
.menu .active a,
.menu li a:hover {
    border-bottom: 5px solid #B28756;
    color: #ccc;
}

.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
    display: flex;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .sliderarea{
    width: 100vw;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner .sliderarea h1{
    text-transform: uppercase;
    font-size:50px;
}
.banner h1 span{
    text-transform:uppercase;;
    color: #B28756;
}
.banner .sliderarea h2{
    text-transform:uppercase;
    font-size:20px;
    margin-top:15px;
}

.sliders-pointers{
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.pointer{
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #B28756;
}
.default{
    padding-top: 50px;
    padding-bottom:50px;
}
.default.light{
    background-color: #f7f7f7;
    color: black;
}
.default.dark{
    background-color: black;
    color:white;
}
.default-title,
.default-desc{
    text-align: center;
    font-weight: 600;
    text-transform:uppercase;
}
.default-title{
    font-size:30px;
    margin-top:15px;
}
.default-desc{
    font-size:12px;
    color: #ccc;
    margin-top:8px;
    margin-bottom:40px;
}
.default-body{
    max-width:1000px;
   margin: auto;
}









/*CSS SPECIFICS AREA*/

.section-title1{
    display:flex;
}
.section-title1-left{
    flex:1;
}
.section-title1-right{
    width:500px;
    text-align: center;   
}
.section-title1-right img{
    width: 480px;
    box-shadow:0px 5px 10px #333;
}
.section-title1-left p{
    font-size:15px;
    line-height:25px;
}
.section-services{
    display: flex;
}
.section-service{
    flex:1;
    text-align: center;
    border-right:1px solid #333;
    padding:15px;
}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service h4{
    text-transform: uppercase;
    margin-top:15px;
    font-size:20px;
}
.section-service p{
    font-size:14px;
    color:#999;
}
.section-title3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title3-menu{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius:30px;
    display: inline-block;
    padding:0px 20px;
}
.section-title3-menu ul,
.section-title3-menu li{
    list-style:none;
}

.section-title3-menu li{
    display: inline-block;
    border-right:1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom:3px solid #eee;
    cursor:pointer;
}
.section-title3-menu .active{
    border-bottom:3px solid #B28756;
}
.section-title3-menu li:hover{
    border-bottom:3px solid #B28756;
}
.section-title3-menu li:last-child{
    border-right:0;
}
.section-title3-photos{
    width: 100vw;
    max-width:1000px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;
}
.section-title3-photo{
    width:250px;
}
.section-title3-photoarea{
    margin:10px;
    width:230px;
    height:130px;
    cursor:pointer;
}
.section-title3-photoarea img{
    width:inherit;
    height:inherit;
}
.section-title3-photoarea .photoarea-info{
    position:absolute;
    width:inherit;
    height:inherit;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photoarea-info h5{
    text-transform: uppercase;
    font-size:18px;
    font-weight: 600;
}
.section-title3-photoarea:hover .photoarea-info{
    display: flex;
}

.team{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-team-sliders{
    width:820px;
    overflow: hidden;
    display: flex;
    
}
.section-team-slide{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:250px;
    min-width: 250px;
    max-width: 250px;
    height:100%;
    max-height: 300px;
    margin-left:20px;
    padding: 30px;
}
.section-team--avatar{
    width:150px;
    height:auto;
}
.section-team--name{
    text-transform:uppercase;
    font-size:17px;
    font-weight: 600;
    margin-top:30px;
}
.section-team--role{
    color: #999;
}
.section-team--social{
    display: flex;
    margin-top:20px;
}
.section-team--social a{
    background-color: #999;
    width: 25px;
    height:25px;
    margin-right:10px;
    filter: opacity(0.5);
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team--social a:hover{
    background-color: #B28756;
    filter: none;
}
.team-sliders-pointers{
    display:flex;
    margin-top:30px;
    justify-content: center;
}
.team-sliders-pointers .pointer{
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.team-sliders-pointers .pointer.active{
    background-color: #B28756;
}
.section-happy-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.happy-clients-box{
    display: flex;
    overflow: hidden;
    width: 700px;
}
.section-happy-clients--content{
    min-width: 700px;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}
.title-text h3{
    font-size: 20px;
    margin-top:20px;
}
.title-text h4{
    font-weight:600;
    margin-top:10px;
}
.title-text p{
    margin-top:15px;
}
.happy-sliders-pointers{
    display:flex;
    margin-top:30px;
    justify-content: center;
}
.happy-sliders-pointers .pointer{
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;
}
.happy-sliders-pointers .pointer.active{
    background-color: #B28756;
}
.adbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.adbox img{
    margin-right:10px;
    margin-left: 10px;
}
.default-body.price{
    width: 1000px;
    display: flex;
}
.price-box{
    display: flex;    
}
.price-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    margin: 0px 5px;
}
.price-details h5{
    text-transform: uppercase;
}
.value strong{
    font-size:30px;
    font-weight: 600;
    margin-top:10px;
}
.value p{
    color: #ccc;
    text-transform: uppercase;
    margin-bottom:10px;
}
.price-details ul,
.price-details li{
    list-style: none;
}
.button.price{
    width: 100px;
    margin-bottom:10px;
    font-weight: 600;
    background-color: #333;
    cursor: pointer;
}
.button.price:hover{
    background-color: #B28756;
}
.default.light.premium{
    background-color: white;
}
.bookbox{
    background-color: #d7a56d;
}